.about-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000;
}

@media only screen and (min-width: 768px) {
  .about-text {
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    color: #000;
  }
}
