/* --------------------------------- general -------------------------------- */
body {
  background-color: #fff8f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-octagonal {
  clip-path: polygon(10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  padding: 5px 20px;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #ff7779;
  border-color: #ff7779;
  box-shadow: none;
  color: #ffeeee;
}

.text-danger {
  color: #ff7779 !important;
}

.navbar-nav {
  flex-grow: 0.4;
  justify-content: space-between;
}

/* --------------------------------- Navbar --------------------------------- */
.logo {
  width: 70px;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 120px;
  }
}

#hamberger-menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

#hamberger-menu .line {
  height: 4px;
  background: #fc6e71;
  border-radius: 15px;
}

#hamberger-menu .line-1 {
  width: 30px;
  margin-bottom: 9px;
}

#hamberger-menu .line-2 {
  width: 17px;
}

.nav-link {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.37;
  color: #0c203b;
}

.nav-link:hover {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.37;
  color: #0c203b;
}

.nav-link.active {
  position: relative;
}

.nav-link.active:before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 2px;
  background-color: #fc6e71;
  border-radius: 15px;
  bottom: -3px;
  left: -5px;
}

/* --------------------------------- discuss -------------------------------- */
@media only screen and (min-width: 768px) {
  .discuss-section {
    margin-top: 10rem !important;
  }
}

.discuss-text-box {
  position: relative;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
  color: #0f141a;
  text-align: center;
}

.discuss-text-box:before {
  position: absolute;
  left: -58px;
  content: "";
  background-image: url("./../../images/double-stars-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
}

.discuss-text-box:after {
  position: absolute;
  right: -41px;
  content: "";
  background-image: url("./../../images/star-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
}
