/* --------------------------------- general -------------------------------- */
body {
  background-color: #fff8f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-octagonal {
  clip-path: polygon(10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 10% 100%, 0% 80%, 0% 20%);
  padding: 5px 20px;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #ff7779;
  border-color: #ff7779;
  box-shadow: none;
  color: #ffeeee;
}

.text-danger {
  color: #ff7779 !important;
}

.navbar-nav {
  flex-grow: 0.4;
  justify-content: space-between;
}

.mt-20px {
  margin-top: 20px;
}

/* --------------------------------- Navbar --------------------------------- */
.logo {
  width: 70px;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 120px;
  }
}

#hamberger-menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

#hamberger-menu .line {
  height: 4px;
  background: #fc6e71;
  border-radius: 15px;
}

#hamberger-menu .line-1 {
  width: 30px;
  margin-bottom: 9px;
}

#hamberger-menu .line-2 {
  width: 17px;
}

.nav-link {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.37;
  color: #0c203b;
}

.nav-link:hover {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.37;
  color: #0c203b;
}

.nav-link.active {
  position: relative;
}

.nav-link.active:before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 2px;
  background-color: #fc6e71;
  border-radius: 15px;
  bottom: -3px;
  left: -5px;
}

/* --------------------------------- discuss -------------------------------- */
@media only screen and (min-width: 768px) {
  .discuss-section {
    margin-top: 10rem !important;
  }
}

.discuss-text-box {
  position: relative;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
  color: #0f141a;
  text-align: center;
}

.discuss-text-box:before, .discuss-text-box:after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.discuss-text-box:before {
  left: -58px;
  background-image: url("./../../images/double-stars-1.png");
  width: 38px;
  height: 38px;
}

.discuss-text-box:after {
  right: -41px;
  background-image: url("./../../images/star-1.png");
  width: 21px;
  height: 21px;
}

/* --------------------------------- footer --------------------------------- */
footer {
  margin-top: calc(7rem + 110px);
  position: relative;
  height: 600px;
}

@media only screen and (min-width: 768px) {
  footer {
    margin-top: 7rem;
    height: 150px;
  }
}

footer:before {
  content: "";
  position: absolute;
  background-image: url("../../images/flower-pot.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 110px;
  top: -110px;
  left: 30px;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  footer:before {
    width: 90px;
    height: 180px;
    top: -180px;
    left: 60px;
  }
}

footer .footer-details {
  background-color: #ff7779;
  clip-path: polygon(75% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(75% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
}

@media only screen and (min-width: 576px) {
  footer .footer-details {
    clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
  }
}

@media only screen and (min-width: 768px) {
  footer .footer-details {
    clip-path: polygon(70% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(70% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  }
}

footer .footer-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

footer .footer-list li {
  margin-top: 20px;
}

footer .footer-list li a {
  color: #fff;
  text-decoration: none;
}
