@import "./variables";
@import "./mixins";

/* --------------------------------- general -------------------------------- */
body {
  background-color: $bg-body;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-octagonal {
  @include clipPath(
    polygon(
      10% 0,
      90% 0,
      100% 20%,
      100% 80%,
      90% 100%,
      10% 100%,
      0% 80%,
      0% 20%
    )
  );
  padding: 5px 20px;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: $danger-color;
  border-color: $danger-color;
  box-shadow: none;
}

.text-danger {
  color: $danger-color !important;
}

/* --------------------------------- Navbar --------------------------------- */
.logo {
  width: 70px;
  @include bp-md {
    width: 120px;
  }
}

#hamberger-menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  .line {
    height: 4px;
    background: $line-colors;
    border-radius: 15px;
  }

  .line-1 {
    width: 30px;
    margin-bottom: 9px;
  }
  .line-2 {
    width: 17px;
  }
}

.nav-link {
  // REVIEW: font in zeplin is 19
  @include font(15px, normal, 1.37, $nav-link-color);

  &:hover {
    @include font(15px, normal, 1.37, $nav-link-color);
  }

  &.active {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: calc(100% + 10px);
      height: 2px;
      background-color: $line-colors;
      border-radius: 15px;
      bottom: -3px;
      left: -5px;
    }
  }
}
